<a
  class="btn"
  href="{{ link | default: '#' }}"
  style="
    background-color: {{ btncolor }};
    padding: {{ paddingy }}px {{ paddingx }}px;
  "
>
  {{ text | default: 'Take the Quiz' }}
</a>
