<a class="btn" href="{{ btnlink | default: '#' }}"
   style="
     background-color: {{ btncolor }};
     padding: {{ btnpaddingy }}px {{ btnpaddingx }}px;
     border-radius: {{ btnredius }}px;
     text-decoration: none;
     color: #000;
     display: inline-block;
   ">
  {{ btntext | default: 'Take the Quiz' }}
</a>