<a class="btn" href="{{ btnlink }}">{{ btntext | default: 'Take the Quiz' }}</a>

{% style %}

.btn {
    display: inline-block;
    background-color: {{ btncolor }};
    padding: {{ btnpaddingx }}px {{ btnpaddingy}} px;
    border-radius: {{ btnredius }}px;
}
{% endstyle %}