<a 
  href="{{ btnlink | default: '#' }}" 
  class="btn-header" 
  style="
    background-color: {{ btncolor | default: '#FDE1EF' }};
    padding: {{ btnpaddingy | default: 10 }}px {{ btnpaddingx | default: 10 }}px;
    border-radius: {{ btnredius | default: 10 }}px;
    text-decoration: none;
    color: #000;
    display: inline-block;
  "
>
  {{ btntext | default: 'Take the Quiz' }}
</a>
