<div class="featured-collection">
    {% if cart.image.src %}
        <img src="{{ cart.image | img_url: '200x' }}" width="auto" height="auto" alt="">
        {% else %}
        {{ 'collection-1' | placeholder_svg_tag }}
    {% endif %}
    <div class="card-details">
        <h3>{{ cart.title }}</h3>
        <p>{{cart.description}}</p>
        <a href="{{ cart.url }}">More Products</a>
    </div>
</div>