{% for product in section.settings.collection.products %}
    <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
        <img src="{{ product.featured_media | image_url }}" width="auto" height="auto" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
        <div class="card-badge">
            {% if product.available == false %}
                <span class="badge rounded-pill text-bg-danger">sold</span>
                this product out of stock
            {% elsif product.compare_at_price > product.price and product.available %}
                <span class="badge rounded-pill text-bg-success">sale</span>
            {% endif %}
        </div>
        <h5 class="card-title">{{ product.title }}</h5>
        <div class="price">
            <span class="sale-price">{{ product.price | money }}</span>
            <span class="sale-regular">{{ product.compare_at_price | money }}</span>
        </div>
        <a href="{{ product.url }}" class="btn btn-primary">See product</a>
        </div>
    </div>
    </div>
{% endfor %}