<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    
    {{'style.css' | asset_url | stylesheet_tag}}

    {{ content_for_header }}
    <style>
        :root {
            --page-width: {{ settings.page_width }}px;
        {% for scheme in settings.color_schemes %}
        .color-{{ scheme.id }} {
            {% if scheme.settings.background_gradient != empty %}
                --bg: {{ scheme.settings.background_gradient }};
            {% else %}
                --bg: {{ scheme.settings.background }};
            {% endif %}
            
        --text: {{ scheme.settings.text }};

        --btn: {{ scheme.settings.button }};
        --btn-text: {{ scheme.settings.button_text }};
        --btn-stock: {{ scheme.settings.stock_button }};
        --btn-shadow: color-mix(in srgb, {{ scheme.settings.shadow }} 20%, transparent);
        
        }
        {% endfor %}
        }
    </style>
</head>
<body>
    {% sections 'header-group' %}

    {{ content_for_layout }}
       
    {% sections 'footer-group' %}
</body>
</html>