<div class=" announcement">
    <div class="container">
        <div class=" {{ section.id }} moving">
            {% content_for 'blocks' %}
        </div>
    </div>
</div>

{% liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.text_color

  assign padding = section.settings.padding
  assign fontsize = section.settings.fontsize


  assign justify = section.settings.justify
  assign gap = section.settings.gap

  assign scroll = section.settings.scroll

%}


{% style %}
  .announcement {
    background-color: {{ bg_color }};
    padding: {{ padding }}px 0;
  }
  .{{ section.id }} {
    color: {{ text_color }};
  }
  .{{ section.id }} p{
    flex-shrink: 0;
  }
  .moving {
    display: flex;
    align-items: center;
    justify-content: {{justify}};
    gap: {{gap}}px;
    font-size: {{ fontsize }}px ;
}

{% if scroll == true %}
    .{{ section.id }} {
        white-space: nowrap;
        animation: Scrolling 20s linear infinite forwards;
    }
    @keyframes Scrolling {
        0%{
            transform: translateX(0%)
        }
        100%{
            transform: translateX(-100%)
        }
    }
  
{% endif %}
{% endstyle %}

{% schema %}
    {
        "name": "Announcement Bar",
        "enabled_on": {
            "groups": ["header"]
        },
        "limit": 1,
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo",
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Backgound Color",
                "default": "#FFD1EB"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#CF427B"
            },
            {
                "type": "checkbox",
                "id": "scroll",
                "label": "Scrolling Effect",
                "default": false
            },
            {
                "type": "range",
                "id": "fontsize",
                "label": "Text Size",
                "default": 16,
                "unit": "px",
                "min": 16,
                "max": 50,
                "step": 2
            },
            {
                "type": "range",
                "id": "padding",
                "label": "Padding",
                "default": 10,
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 2
            },
            {
                "type": "select",
                "id": "justify",
                "label": "Justify Content",
                "default": "center",
                "options": [
                    {"value": "flex-start", "label": "flex-start"},
                    {"value": "center", "label": "center"},
                    {"value": "flex-end", "label": "flex-end"},
                    {"value": "space-evenly", "label": "space-evenly"},
                    {"value": "space-between", "label": "space-between"},
                ]
            },
            {
                "type": "range",
                "id": "gap",
                "label": "Text Gap",
                "default": 0,
                "unit": "px",
                "min": 0,
                "max": 50,
                "step": 2
            }
        ],
        "blocks": [
            {
                "type": "@theme"
            }
        ],
        "presets": [
            {
                "name": "Announcement Bar"
            }
        ]
    }
{% endschema %}
