<div class="{{ section.id }} announcement">
    <div class="container">
        <div class="moving">
            {% content_for 'blocks' %}
        </div>
    </div>
</div>

{% liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.text_color

  assign padding = section.settings.padding
%}


{% style %}
  .announcement {
    background-color: {{ bg_color }};
    padding: {{ padding }}px 0;
  }
  .{{ section.id }} p{
    color: {{ text_color }};
  }
  .moving {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
{% endstyle %}

{% schema %}
    {
        "name": "Announcement Bar",
        "enabled_on": {
            "groups": ["header"]
        },
        "limit": 1,
        "settings": [
            {
                "type": "color",
                "id": "bg_color",
                "label": "Backgound Color",
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
            },
            {
                "type": "range",
                "id": "padding",
                "label": "Padding",
                "default": 10,
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 2
            },
            {
                "type": "select",
                "id": "justify",
                "label": "Justify Content",
                "default": "center",
                "options": [
                    {"value": "flex-start", "label": "flex-start"},
                    {"value": "center", "label": "center"},
                    {"value": "flex-end", "label": "flex-end"},
                    {"value": "space-evenly", "label": "space-evenly"},
                    {"value": "space-between", "label": "space-between"},
                ]
            }

        ],
        "blocks": [
            {
                "type": "@theme"
            }
        ],
        "presets": [
            {
                "name": "Announcement Bar"
            }
        ]
    }
{% endschema %}
