{% liquid
  assign checkbox = section.settings.enable_bar
  assign paddingx = section.settings.paddingx
  assign paddingy = section.settings.paddingy
  assign alignment = section.settings.alignment

  assign color_scheme = section.settings.color_scheme
%}



<section class="{{ section.id }} color-{{ color_scheme }} gradient">
    <div class="announcement-bar">
        {% content_for 'blocks' %}
    </div>
</section>


<style>
    .{{ section.id }} .announcement-bar{
        display: flex;
        align-items: center;
        justify-content: {{ alignment }};
        gap: 30px;
        padding: {{ paddingx }}px 0;
        overflow: hidden;
        white-space: nowrap;

    }

    {% if checkbox == true %}
      .{{ section.id }} .announcement-bar {
        animation: scrolling 30s linear infinite;
    }
    @keyframes scrolling {
    0% {
        transform: translateX(0%);
        }
    100% {
        transform: translateX(-100%);
        }
    }
    {% endif %}

</style>

{% schema %}
    {
        "name": "Announcement Bar",
        "limit": 1,
        "enabled_on": {
            "groups": ["header"]
        },
        "blocks": [
            {
                "type": "@theme"
            }
        ],
        "settings": [
            {
                "type": "checkbox",
                "id": "enable_bar",
                "label": "Enable Announcement Bar",
                "default": true
            },
            {
                "type": "range",
                "id": "paddingx",
                "label": "PaddingX",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "paddingy",
                "label": "PaddingY",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Alignment",
                "default": "center",
                "options": [
                    { "value": "flex-start", "label": "Left"},
                    { "value": "center", "label": "Center"},
                    { "value": "flex-end", "label": "Right"}
                ]
            },
            {
                "type": "header",
                "content": "Announcement Bar Style"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
        ],
        "presets": [
            {
                "name": "Announcement Bar"
            }
        ]
    }
{% endschema %}