<section class="">
    <div class="page-width">
        <h2>SPOTLIGHT</h2>
        <div class="featured-collection">
            {% for item in collections %}
                <div class="items">
                    {% if item.image.src %}
                        <img src="{{ item.image.src | image_url }}" alt="{{ item.title }}" width="auto" height="350">

                    {% else %}
                        {{ 'collection-1' | placeholder_svg_tag }}
                    {% endif %}
                    <h3>{{ item.title }}</h3>
                    <a class="btn" href="{{ item.url }}">See more</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .featured-collection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1%;
    }
    .items{
        overflow: hidden;
        padding: 10px;
        border: 1px solid #12121221 ;
        width: 24%;
        margin-top: 1%;
        padding: 30px;
    }
    .items img{
        overflow: hidden;
    }
    .btn {
        background-color: bisque;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: inline-block;
        color: #121212;
    }
</style>

{% schema %}
{
    "name": "Featured Collection",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}