<section class="featured-col {{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <h2>{{ section.settings.featured-title }}</h2>
        <div class="featured-product">
            {% for product in collections.all.products %}
                <div class="prod-items">
                    <img src="{{ product.featured_media | image_url }}" alt="" width="auto" height="auto">
                    <div class="item-title">
                        <div class="badge">
                            {% if product.available == true %}
                                <span class="instock">Sale</span>
                            {% else %}
                                <span class="stockout">Sold</span>
                            {% endif %}
                              
                        </div>
                        <h3>{{ product.title }}</h3>
                        <div class="rating">
                            <span class="star filled">★</span>
                            <span class="star filled">★</span>
                            <span class="star filled">★</span>
                            <span class="star filled">★</span>
                            <span class="star">★</span>
                        </div>

                        <div class="price">
                            <span class="sale-price">{{ product.price | money }}</span>
                            <span class="regular-price">{{ product.compare_at_price | money }}</span>
                        </div>
                        <a href="{{ product.url }}" class="btn">See Product</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .featured-col {
        padding: {{section.settings.pro-paddingx}}px 0;
    }
    .featured-product {
        display: flex;
        gap: 24px;
        margin: 30px 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .prod-items {
        position: relative;
        width: 24%;
        background:rgb(247, 247, 247); /* gray background */
        padding: 16px;
        text-align: center;
    }

    .prod-items img,
    .prod-items svg {
        width: 100%;
        height: 360px;
        object-fit: contain;
        display: block;
        margin: 0 auto; /* image center */
        padding: 20px;
    }

    .item-title {
        margin-top: 16px;
    }

    .item-title h3 {
        margin: 15px 0px;
        font-size: 20px;
        text-align: left;
    }

    .item-title a {
        font-size: 16px;
        font-weight: 400;
    }
    .badge {
        display: flex;
        gap: 8px;
        margin-bottom: 10px;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .badge span {
        font-size: 12px;
        font-weight: 600;
        padding: 4px 10px;
        border-radius: 2px;
        line-height: 1;
    }

    /* Sale badge */
    .badge .instock {
        background:rgb(12, 165, 71);
        color: #ffffff;
    }

    /* Sold out badge */
    .badge .stockout {
        background:rgb(207, 18, 18);
        color: #ffffff;
    }
    .price {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 12px;
    }

    .sale-price {
        font-size: 22px;
        font-weight: 600;
        color: #111; /* main price */
    }

    .regular-price {
        font-size: 16px;
        color: #888;
        text-decoration: line-through;
    }
    .rating {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
    }

    .star {
    font-size: 18px;
    color: #ddd; /* empty star */
    }

    .star.filled {
    color: #f5a623; /* filled star */
    }


</style>

{% schema %}
{
    "name": "Featured Product",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "text",
            "id": "featured-title",
            "label": "Title",
            "default": "Featured Collections"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collections",
        },
        {
            "type": "range",
            "id": "pro-paddingx",
            "label": "PaddingX",
            "min": 10,
            "max": 120,
            "default": 10,
            "step": 10,
            "unit": "px"
        },
    ],
    "presets": [
        {
            "name": "Featured Product"
        }
    ]
}
{% endschema %}