<section class="{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <h2>SPOTLIGHT</h2>
        <div class="featured-collection">
  {% for item in collections %}
    <div class="items">
      <div class="item-image">
        {% if item.image %}
          <img src="{{ item.image | image_url: width: 800 }}" alt="{{ item.title }}">
        {% else %}
          {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>

      <div class="item-title">
        <h3>{{ item.title }}</h3>
        <a href="{{ item.url }}">See More</a>
      </div>
    </div>
  {% endfor %}
</div>

    </div>
</section>

<style>
    .featured-collection {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;
        gap: 30px;
    }
    .items>img,svg {
        object-fit: cover;
        width: 350px;
        height: 408px;
        border-radius: -10px;
    }
    .item-title {
        margin-top: 15px;
    }
    
</style>

{% schema %}
{
    "name": "Featured Collection",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collections"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}