<header>
  <div class="container">
    <nav>
      <div class="logo">
        {% if settings.logo != blank %}
          <img 
            src="{{ settings.logo | image_url }}" 
            width="{{ settings.logowidth }}px"  
            height="auto" 
            alt="{{ shop.url }}" 
          />
        {% else %}
          {{ shop.url }}
        {% endif %}
        
        <div class="menu">
          <ul>
            {% for link in linklists.main-menu.links %}
              <li>
                <a class="{% if link.active %}active{% endif %}" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="account">
        {% render 'btn',
          btntext: section.settings.btntext,
          btnlink: section.settings.btnlink,
          btncolor: section.settings.btncolor,
          btntextcolor: section.settings.btntextcolor,
          btnredius: section.settings.btnredius,
          btnpaddingx: section.settings.btnpaddingx,
          btnpaddingy: section.settings.btnpaddingy
        %}

        <div class="icon">
          <a href="{{ routes.predictive_search_url }}">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <a href="{{ routes.cart_url }}">
            <i class="fa-solid fa-bag-shopping"></i>
          </a>
          <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
            <i class="fa-regular fa-user"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>

{% liquid
  assign bgcolor = section.settings.bgcolor
  assign padding = section.settings.padding

  assign iconcolor = section.settings.iconcolor
  assign menucolor = section.settings.menucolor
%}

{% style %}
  header {
    background-color: {{ bgcolor }};
    padding: {{ padding }}px 0;
  }

  .icon i {
    color: {{ iconcolor }};
  }
  .menu a {
    color: {{ menucolor }};
  }
{% endstyle %}

{% schema %}
{
  "name": "Header Menu",
  "enabled_on": {
    "groups": ["header"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#FFE7F5"
    },
    {
      "type": "color",
      "id": "iconcolor",
      "label": "Icon Color",
      "default": "#D91376"
    },
    {
      "type": "color",
      "id": "menucolor",
      "label": "Menu Color",
      "default": "#D91376"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "default": 10,
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 2
    },
    {
      "type": "text",
      "id": "btntext",
      "label": "Header Button Text",
      "default": "Take the Quiz"
    },
    {
      "type": "url",
      "id": "btnlink",
      "label": "Header Button Link"
    },
    {
      "type": "color",
      "id": "btncolor",
      "label": "Button Color",
      "default": "#D91376"
    },
    {
      "type": "color",
      "id": "btntextcolor",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "btnpaddingx",
      "label": "Button PaddingX",
      "default": 10,
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 2
    },
    {
      "type": "range",
      "id": "btnpaddingy",
      "label": "Button PaddingY",
      "default": 10,
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 2
    },
    {
      "type": "range",
      "id": "btnredius",
      "label": "Button Radius",
      "default": 10,
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 2
    }
  ],
  "presets": [
    {
      "name": "Header Menu"
    }
  ]
}
{% endschema %}
