{% liquid
  assign logo = section.settings.logo
  assign logowidth = section.settings.logowidth

  assign header_gap = section.settings.header-gap
  assign menu_gap = section.settings.menu-gap

  assign padding_headerx = section.settings.padding-headerx


  assign font_size = section.settings.font-size
  assign color = section.settings.color
  assign active_color = section.settings.active-color


  assign menu = section.settings.menu



  assign text_transform = section.settings.text-transform
%}


<section class=" header {{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <div class="header-items">
            <div class="header-top">
            <form action="{{ routes.search_url }}">
                {% render 'icons', icon: 'search' %}
                <input class="search" type="search" placeholder="Search">
            </form>
            <div class="logo">
                {% if logo != blank %}
                    <img src="{{ logo | image_url }}" width="{{ logowidth }}" height="auto" alt="{{ shop.url }}">
                {% else %}
                    <span class="logo-text">{{ shop.name }}</span>
                {% endif %}
            </div>
            <div class="accounts">
                <a href=" {% if customer != blank %} {{ routes.account_url }} {% else %} {{ routes.account_login_url }} {% endif %}">{% render 'icons', icon: 'user' %}</a>
                <a href="/pages/wishlist">{% render 'icons', icon: 'wishlist' %}</a>
                <a href="{{ routes.a }}">{% render 'icons', icon: 'cart' %}</a>
            </div>
            </div>
            <nav>
                <ul>
                    {% for link in menu.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}
                                {% if link.links != blank %}
                                    {% render 'icons', icon: 'downarrow' %}
                                {% endif %}
                            </a>
                            <div class="dropdown">
                                <ul>
                                    {% for childlink in link.links %}
                                        <li>
                                            <a href="{{ childlink.url }}">{{ childlink.title }}
                                                {% if childlink.links != blank %}
                                                    {% render 'icons', icon: 'downarrow' %}
                                                {% endif %}
                                            </a>
                                            <div class="sub-dropdown">
                                                <ul>
                                                    {% for subchild in childlink.links %}
                                                      <li><a href="{{ subchild.url }}">{{ subchild.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</section>

<style>
    .header {
        padding: {{ padding_headerx }}px 0;
    }
    .header-items {
        display: flex;
        flex-direction: column;
        gap: {{ header_gap }}px;
    }

    .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    form{
        display: flex;
        background-color: #F2EFE7;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        padding: 4px 8px;
    }
    form svg{
        width: 25px;
    }
    form input{
        width: 100%;
        padding: 10px;
        background: none;
        outline: none;
        border: none;
        outline: none;
    }
    .logo {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .accounts {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: end;
        gap: 10px;
    }
    .accounts svg {
        width: 25px;
    }
/* ===== Dropdown Basic ===== */
    nav{
        width: 100%;
        position: relative;
    }
    nav ul{
        width: 100%;
        display: flex;
        gap: {{ menu_gap }}px;
        align-items: center;
        justify-content: center;
        font-size:{{ font_size }}px;
    }
    nav ul li a{
        color: {{ color }};
        text-transform: {{ text_transform }};
        font-weight: 600;
    }
    nav ul li a.active {
        color: {{ active_color }};
    }
    nav ul li a svg {
        width: 15px;
    }
    nav ul li {
        position: relative;
    }

    .dropdown,
    .sub-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        min-width: 200px;
        display: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.08);
        z-index: 99;
    }

    .dropdown ul,
    .sub-dropdown ul {
        flex-direction: column;
        gap: 0;
    }

    .dropdown li,
    .sub-dropdown li {
        width: 100%;
    }

    .dropdown a,
    .sub-dropdown a {
        display: block;
        padding: 10px 14px;
        color: #333;
        font-size: 14px;
        white-space: nowrap;
    }

    /* Hover show dropdown */
    nav ul li:hover > .dropdown {
        display: block;
    }

    /* ===== Sub Dropdown ===== */
    .sub-dropdown {
        top: 0;
        left: 100%;
    }

    /* Hover show sub-dropdown */
    .dropdown li:hover > .sub-dropdown {
        display: block;
    }

    /* Simple hover effect */
    .dropdown a:hover,
    .sub-dropdown a:hover {
        background:rgb(151, 69, 69);
    }

</style>

{% schema %}
    {
        "name": "Header",
        "class": "header_section",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "range",
                "id": "logowidth",
                "label": "Logo Width",
                "min": 50,
                "max": 120,
                "default": 50,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "link_list",
                "id": "menu",
                "label": "Menu"
            },
            {
                "type": "range",
                "id": "padding-headerx",
                "label": "Header Padding",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "header-gap",
                "label": "Header Gap",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "header",
                "content": "Menu Style"
            },
            {
                "type": "color",
                "id": "color",
                "label": "Color",
                "default": "#333333"
            },
            {
                "type": "color",
                "id": "active-color",
                "label": "Active Color",
                "default": "#333333"
            },
            {
                "type": "select",
                "id": "text-transform",
                "label": "Text Transfont",
                "default": "capitalize",
                "options": [
                    {"value": "lowercase", "label": "Lowercase"},
                    {"value": "capitalize", "label": "Capitalize"},
                    {"value": "uppercase", "label": "Uppercase"}
                ]
            },
            {
                "type": "range",
                "id": "font-size",
                "label": "Font Size",
                "min": 16,
                "max": 20,
                "default": 16,
                "step": 2,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "menu-gap",
                "label": "Gap",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "header",
                "content": "Section Style"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
        ]
    }
{% endschema %}