{% liquid
  assign logo = section.settings.logo
  assign logowidth = section.settings.logowidth

  assign header_gap = section.settings.header-gap
  assign menu_gap = section.settings.menu-gap

  assign padding_headerx = section.settings.padding-headerx


  assign font_size = section.settings.font-size
  assign color = section.settings.color
  assign active_color = section.settings.active-color
%}


<section class=" header {{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <div class="header-items">
            <div class="header-top">
            <form action="{{ routes.search_url }}">
                {% render 'icons', icon: 'search' %}
                <input class="search" type="search" placeholder="Search">
            </form>
            <div class="logo">
                {% if logo != blank %}
                    <img src="{{ logo | image_url }}" width="{{ logowidth }}" height="auto" alt="{{ shop.url }}">
                {% else %}
                    <span class="logo-text">{{ shop.name }}</span>
                {% endif %}
            </div>
            <div class="accounts">
                <a href=" {% if customer != blank %} {{ routes.account_url }} {% else %} {{ routes.account_login_url }} {% endif %}">{% render 'icons', icon: 'user' %}</a>
                <a href="/pages/wishlist">{% render 'icons', icon: 'wishlist' %}</a>
                <a href="{{ routes.a }}">{% render 'icons', icon: 'cart' %}</a>
            </div>
            </div>
            <nav>
                <ul>
                    {% for link in linklists.header-menu.links %}
                        <li><a class=" {% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</section>

<style>
.header {
    padding: {{ padding_headerx }}px 0;
}
.header-items {
    display: flex;
    flex-direction: column;
    gap: {{ header_gap }}px;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
form{
    display: flex;
    background-color: #F2EFE7;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding: 8px;
}
form svg{
    width: 20px;
}
form input{
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    outline: none;
}
.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}
.accounts {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.accounts svg {
    width: 30px;
    height: 30px;
}
nav{
    width: 100%;
}
nav ul{
    width: 100%;
    display: flex;
    gap: {{ menu_gap }}px;
    align-items: center;
    justify-content: center;
    font-size:{{ font_size }}px;
    text-transform: uppercase;
}
nav ul li a{
    color: {{ color }};
}
nav ul li a.active {
  color: {{ active_color }};
}
</style>
{% schema %}
    {
        "name": "Header",
        "class": "header_section",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "range",
                "id": "logowidth",
                "label": "Logo Width",
                "min": 50,
                "max": 120,
                "default": 50,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "link_list",
                "id": "menu",
                "label": "Menu"
            },
            {
                "type": "range",
                "id": "padding-headerx",
                "label": "Header Padding",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "header-gap",
                "label": "Header Gap",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "header",
                "content": "Menu Style"
            },
            {
                "type": "color",
                "id": "color",
                "label": "Color",
                "default": "#333333"
            },
            {
                "type": "color",
                "id": "active-color",
                "label": "Active Color",
                "default": "#333333"
            },
            {
                "type": "select",
                "id": "text-transform",
                "label": "Text Transfont",
                "default": "capitalize",
                "options": [
                    {"value": "lowercase", "label": "lowercase"},
                    {"value": "capitalize", "label": "Uapitalize"},
                    {"value": "uppercase", "label": "Uppercase"}
                ]
            },
            {
                "type": "range",
                "id": "font-size",
                "label": "Font Size",
                "min": 16,
                "max": 20,
                "default": 16,
                "step": 2,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "menu-gap",
                "label": "Gap",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "header",
                "content": "Section Style"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
        ]
    }
{% endschema %}