{% liquid
  assign logo = section.settings.logo

  assign paddingx = section.settings.padding-headerx
  assign paddingy = section.settings.padding-headery
  assign gap = section.settings.gap

  assign alignment = section.settings.alignment
%}


<section class="{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <div class="header-top">
            <form action="">
                {% render 'icons', icon: 'search' %}
                <input class="search" type="search" placeholder="Search">
            </form>
            <div class="logo">
                {% if logo != blank %}
                    <img src="{{ logo | image_url }}" width="30%" height="auto" alt="{{ shop.url }}">
                {% else %}
                    {{ shop.url }}
                {% endif %}
            </div>
            <div class="accounts">
                <a href="">{% render 'icons', icon: 'user' %}</a>
                <a href="">{% render 'icons', icon: 'wishlist' %}</a>
                <a href="">{% render 'icons', icon: 'cart' %}</a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
            </ul>
        </nav>
    </div>
</section>

<style>
section{
    padding: {{ padding-headerx }}px {{ padding-headery }}px;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
form{
    display: flex;
    gap: 20px;
    background-color: aquamarine;
    border-radius: 5px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding: 10px 10px;
}
form svg{
    width: 30px;
    height: 30px;
}
form input{
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
    padding: 8px 12px;
    border: none;
    outline: none;
}
.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}
.accounts {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.accounts svg {
    width: 30px;
    height: 30px;
}
nav{
    width: 100%;
}
nav ul{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}
</style>
{% schema %}
    {
        "name": "Header",
        "class": "header_section",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "range",
                "id": "padding-headerx",
                "label": "PaddingX",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding-headery",
                "label": "PaddingY",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "gap",
                "label": "Gap",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Alignment",
                "default": "center",
                "options": [
                    { "value": "flex-start", "label": "Left"},
                    { "value": "center", "label": "Center"},
                    { "value": "flex-end", "label": "Right"}
                ]
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
        ]
    }
{% endschema %}