{% liquid
  assign herobanner = section.settings.herobanner
  assign herobanner_phone = section.settings.herobanner_phone
  assign logo = section.settings.logo

  assign title = section.settings.title
  assign subtitle = section.settings.subtitle

  assign buttontext = section.settings.buttontext
  assign btnlink = section.settings.btnlink

  assign reviewcolor = section.settings.reviewcolor
%}

<div class="banner">
    <img class="herobanner_img" src="{{ herobanner | image_url }}" width="100%" height="auto" alt="">
    <img class="herobanner_img_phone" src="{{ herobanner_phone | image_url }}" width="100%" height="100%" alt="">
    <div class="herobanner">
        <div class="page-width">
            <img src="{{ logo | image_url }}" width="auto" height="auto" alt="" class="brand_logo">
            <div class="herobanner-content">
                <p>{{ subtitle }}</p>
                <h1 class="title">{{ title }}</h1>
                {% if buttontext != blank %}
                    <a href="{{ btnlink }}">{{ buttontext }}</a>
                {% endif %}
            </div>
        </div>
        <div class="reviewSection">
            <div class="page-width">
                <div class="review-content">
                    <div class="swiper review_slider">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                <div class="flex swiper-slide">
                                    {% render 'icons' %} 
                                    <p>{{ block.settings.review }} <span>{{ block.settings.customer }}</span></p>                 
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper(".review_slider", {
      slidesPerView: 1,
      spaceBetween: 40,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 100,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 100,
        },
      },
    });
</script>

<style>
    .banner{
        position: relative;
        max-width: 100%;
        height: 100%
        
    }
    .herobanner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .herobanner-content {
        max-width: 400px;
        margin-top: 80px;
    }
    .herobanner-content h1 {
        font-weight: 400;
        font-size: 62px;
        line-height: 96%;
        margin: 10px 0 40px;
    }
    .herobanner-content a {
        background-color: #FF8E09;
        padding: 13px 30px;
        display: inline-block;
        border-radius: 50px;
        color: white;
    }
    .reviewSection{
        background-color: {{ reviewcolor }} ;
        padding: 40px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .review-content {
        display: flex;
        gap: 25%;
    }

    .flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .flex p {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        color: rgb(147 79 41);
    }

    .flex span {
        font-weight: 400;
    }
    .herobanner_img{
        display: block;
    }
    .herobanner_img_phone{
        display: none;
    }
@media (max-width: 575px) {
    .herobanner-content {
        width: 375px;
        text-align: center;
        margin: 100px auto 0;
    }
    .herobanner-content h1 {
        order: -1;
        margin: 0;
    }
    .herobanner-content p{
        margin: 20px 0;
    }
    .herobanner_img_phone{
        display: block;
    }
    .herobanner_img{
        display: none;
    }
    .brand_logo{
    max-width: 150px ;
    }
    .flex p {
        padding: 0 20px;
    }
    
}
</style>

{% schema %}
    {
        "name": "Hero Banner",
        "class": "hero_banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "herobanner",
                "label": "Hero Banner"
            },
            {
                "type": "image_picker",
                "id": "herobanner_phone",
                "label": "Hero Banner for Phone"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Hero Title",
                "default": "Make Deli-Grade Pickles at Home"
            },
            {
                "type": "textarea",
                "id": "subtitle",
                "label": "Sub Title",
                "default": "⏳in just one minute!"
            },
            {
                "type": "text",
                "id": "buttontext",
                "label": "Button Text",
                "default": "Order Your Kit Now"
            },
            {
                "type": "url",
                "id": "btnlink",
                "label": "Button Link"
            },
            {
                "type": "header",
                "content": "Section Style",
            },
            {
                "type": "color",
                "id": "reviewcolor",
                "label": "Review Bg Color",
                "default": "#FFE1B5"
            },
        ],
        "blocks": [
            {
                "type": "review",
                "name": "Review",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "review",
                        "label": "Review",
                        "default": "I’ve never tasted pickles this good outside a deli!"
                    },
                    {
                        "type": "text",
                        "id": "customer",
                        "label": "Customer Name",
                        "default": "David.L"
                    },
                ]
            },
        ],
        "presets": [
            {
                "name": "Hero Banner"
            }
        ]
    }
{% endschema %}
