{% liquid
    assign current_variant = product.selected_or_first_available_variant
    assign featured_media = current_variant.featured_media | default: product.featured_media

%}
<section class="product-section">
  <div class="page-width">
    <div class="product-wraper">
    <div class="product-left">
      <div class="main-image">
        <img src="{{ featured_media | image_url }}" alt="" width="auto" height="auto">
      </div>

      <div class="thumbs">
        <img src="https://via.placeholder.com/80" alt="">
        <img src="https://via.placeholder.com/80" alt="">
        <img src="https://via.placeholder.com/80" alt="">
        <img src="https://via.placeholder.com/80" alt="">
      </div>
    </div>

    <!-- Right: Details -->
    <div class="product-right">
      <h1>{{ product.title }}</h1>

      <div class="price">
        <span class="sale-price">{{ product.price | money }}</span>
        <span class="regular-price">{{ product.compare_at_price | money }}</span>
      </div>
      <p class="description"> {{ product.description }}</p>
      <div class="product-form">
        {% form 'product', product %}
          <input type="submit" value="Add to Cart">
        {% endform %}
      </div>

      <select class="variant-select">
        <option>Select Size</option>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select>

      <button class="add-to-cart">Add to Cart</button>

    </div>
    </div>
  </div>
</section>

<style>
    .product-section {
    padding: 100px 0;
    }

    .product-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: flex-start;
    }

    /* LEFT */
    .product-left .main-image {
    background: #f5f5f5;
    padding: 20px;
    }

    .product-left .main-image img {
    width: 100%;
    display: block;
    }

    .product-left .thumbs {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    }

    .product-left .thumbs img {
    width: 70px;
    background: #f5f5f5;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    }

    /* RIGHT */
    .product-right h1 {
    font-size: 28px;
    margin-bottom: 15px;
    }

    .price {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
    }

    .sale-price {
    font-size: 22px;
    font-weight: 600;
    color: #111;
    }

    .regular-price {
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
    }

    .variant-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    }

    .add-to-cart {
    width: 100%;
    padding: 14px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    }

    .description {
    margin-top: 30px;
    color: #555;
    line-height: 1.6;
    }

    /* Responsive */
    @media (max-width: 768px) {
    .product-wraper {
        grid-template-columns: 1fr;
    }
    }

</style>



{% schema %}
{
    "name": "All Products",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "text",
            "id": "featured-title",
            "label": "Title",
            "default": "Featured Collections"
        },
        {
            "type": "collection_list",
            "id": "collection_list",
            "label": "Featured Collections",
        },
        {
            "type": "range",
            "id": "featured-paddingx",
            "label": "Footer Padding",
            "min": 10,
            "max": 120,
            "default": 10,
            "step": 10,
            "unit": "px"
        },
    ],
    "presets": [
        {
            "name": "All Products"
        }
    ]
}
{% endschema %}