{% liquid
    assign current_variant = product.selected_or_first_available_variant
    assign featured_media = current_variant.featured_media | default: product.featured_media

%}
<section class="product-section">
  <div class="page-width">
    <div class="product-wraper">
        <div class="product-left">
        <div class="main-image">
            <img src="{{ featured_media | image_url }}" alt="" width="auto" height="auto" id="productimage">
        </div>
        <div class="thumbs">
            {% for image in product.images %}
                <img src="{{ image | image_url }}" alt="" width="auto" height="auto"
                    onclick="document.getElementById('productimage').src=this.src"
                >
            {% endfor %}
        </div>
        </div>
        <div class="product-right">
        <h1>{{ product.title }}</h1>

        <div class="price">
            <span class="sale-price">{{ product.price | money }}</span>
            <span class="regular-price">{{ product.compare_at_price | money }}</span>
        </div>
        <p class="description"> {{ product.description }}</p>
        
        <select class="variant-select">
            <option>Select Size</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            </select>
            
            <div class="product-form">
            {% form 'product', product %}
                <input type="hidden" name="id" value="{{ current_variant.id }}">
                <input type="number" name="quantity" id="quantity" min="1" max="10" value="1">
                <input type="submit" value="Add to Cart">
                {{ form | payment_button }}
            {% endform %}
            </div>
        </div>
    </div>
  </div>
</section>

<style>
    
</style>



{% schema %}
{
    "name": "All Products",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "text",
            "id": "featured-title",
            "label": "Title",
            "default": "Featured Collections"
        },
        {
            "type": "collection_list",
            "id": "collection_list",
            "label": "Featured Collections",
        },
        {
            "type": "range",
            "id": "featured-paddingx",
            "label": "Footer Padding",
            "min": 10,
            "max": 120,
            "default": 10,
            "step": 10,
            "unit": "px"
        },
    ],
    "presets": [
        {
            "name": "All Products"
        }
    ]
}
{% endschema %}