{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}


<div class="main-product-section">
  <div class="page-width">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-left">
          <img src="{{ featured_image.src | image_url }}" alt="{{ product.title }}" width="auto" height="auto">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-right">
            <h3>{{ product.title }}</h3>
            <div>
                <span class="sale-price">{{ product.price | money }}</span>
                <span class="sale-regular">{{ product.compare_at_price | money }}</span> 
            </div>
            <p>{{ product.description }}</p>
        </div>
        <div class="product-form">
            {% form 'product', product, return_to: 'back' %}
            <input type="hidden" name="id" value="{{current_variant.id}}">
            <input type="number" name="quantity" id="quantity" min="1" max="{{ current_variant.inventory_quantity | default: 10 }}" value="1">
            <input type="submit" value="Add to Cart">
            {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>

.sale-regular {
    color: #888;
    text-decoration: line-through;
    font-size: 14px;
}
/* Row */
.row {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* Columns */
.col-lg-6 {
  width: 50%;
}

/* Image */
.product-left img {
  width: 100%;
  border-radius: 10px;
}

/* Right content */
.product-right h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.price-wrap {
  margin-bottom: 15px;
  font-size: 20px;
}

.price {
  color: #000;
  font-weight: 600;
  margin-right: 10px;
}

.sale-price {
  color: #999;
}

.product-right p {
  line-height: 1.6;
  color: #444;
}

/* Mobile */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-lg-6 {
    width: 100%;
  }

  .product-right {
    text-align: center;
  }
}

</style>


{% schema %}
    {
    "name": "Main Product",
    "class": "main_product",
    "settings": [
    ],
    "presets": [
        {
        "name": "Main Product"
        }
    ]
    }
{% endschema %}